@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600;700&display=swap"); */

@theme {
  --color-primary-red: #dc5939;
  --color-secondary-red: #c70d00;
  --color-primary-gray: #282828;
  --spacing-lg-gutter: 100px;
  --color-primary-yellow: #ffc220;
  --background: black;
  --foreground: white;
  --font-family-sf: "SF Pro Display", sans-serif;
  --font-family-dm: "DM Sans", sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-dm);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
  }

  label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: black;
    }
  }

  @media (width >= 48rem) {
    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.3;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.4;
    }

    h4 {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

/* Typography System (default == mobile) */
.h0 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  color: #ffffff !important;
}

.gutter {
  padding: 24px 24px;
}

/* Section Styles */
.section-standard {
  padding-left: 24px;
  padding-right: 24px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}

.golden-glow {
  text-shadow: 0 0 5px #ffd700;
}

.hero-text {
  font-size: clamp(1.5rem, 5vw, 5vw);
  font-family: var(--font-family-sf);
  line-height: 95%;
}

.font-sf {
  font-family: var(--font-family-sf);
}

.padding {
  padding-inline: 24px;
}

/* Viewport/Responsive Styles */
@media (max-width: 768px) {
  .gutter {
    padding: 24px 24px 32px 24px;
  }

  .section-standard {
    padding: 24px 24px 32px 24px;
  }
}

/* medium width */
@media (width >= 48rem) {
  .gutter {
    padding: 48px 64px;
  }

  .padding {
    padding-top: 48px;
    padding-inline: 64px;
  }

  .section-standard {
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* largewidth */
@media (width >= 64rem) {
  .gutter {
    padding: 48px 100px;
  }

  .padding {
    padding-inline: 100px;
  }

  .section-standard {
    padding-left: 100px;
    padding-right: 100px;
  }
}
